@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5f6769;
    color: #d7ccc8;
    font-family: "Arvo", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
    user-select: none;
    margin-bottom: 100px;
    height: 80px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

header {
    margin-bottom: 80px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
li {
    margin: 10px 20px;
    width: 200px;
}

.product-image {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}
.product-image:hover {
    cursor: pointer;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Arvo", serif;
    font-weight: bold;
    font-style: normal;
    min-height: 100px;
    width: 200px;
    color: #232E34;
    position: relative;
    font-size: 1em;
}

.product-title {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: nowrap;
    opacity: 0.8;
    font-size: 1em;
    height: 60px;
    font-weight: bold;
}

.product-price {

    justify-self: center;
    align-self: center;
    width: 100%;
    text-align: center;
}

.cartButtons {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


@media (max-width: 768px) {

    li {
        width: 110px;
    }
    .product-image{
        width: 110px;
        height: 150px;
    }
    .product-div {
        width: 110px;
        height: 150px;
    }
    .product-details{
        min-height: 80px;
        width: 100px;
    }
    .product-details {
        font-size: 0.8em;
    }
    .product-title {
        font-size: 0.8em;
    }
}