@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: white;
}

.menuHeader {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #14213d;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 80px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 61px;
}

.header-button {
    border: none;
    background-color: inherit;
    color: white;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-style: italic;
    font-size: 2.5rem;
}

.headerButton:hover {
    cursor: pointer;
}

.signIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
}
.signIcon:hover {
    cursor: pointer;
    color: #AFD3E2;
}

@media (max-width: 768px) {
    .menuHeader {
        height: auto;
    }

    .headerButton {
        font-size: 2rem;
    }

}

@media (max-width: 480px) {
    .headerButton {
        font-size: 1.5rem;
    }

    .signIcon {
        gap: 5px;
    }
}