@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');



.drawer-box {
    background-color: #3c4245;
    height : 100%;
    color: #d7ccc8;
    font-family: "DM Mono", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
    user-select: none;
}

.nav-h1 {
    text-align: center;
    background-color: #31373A;
    width: 100%;
    height: 6%;
    border-bottom: 1px solid #282D30;
    box-shadow: 0 0 10px 10px #282D30;
}

.search-bar {
    height: 30px;
    max-width: 200px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 5px 5px 10px #3c4245;
    padding: 10px;
    background-color: #7F8586;
    color: #efebe9;
    font-size: small;
}
.search-bar::placeholder {
    color: #efebe9;

}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    max-width: 250px;
}

.search-button {
    color: #efebe9;
    background-color: inherit;
    border: none;
    width: auto;
}
.search-button:hover {
    cursor: pointer;
    scale: 1.2;
}

.listgap {
    display: flex;
    align-items: center;
    padding: 15px 15% 15px 10%;
    gap: 10px;
    color: #d7ccc8;
    margin-top: 10px;
    margin-bottom: 10px;
}

.listgap:hover {
    background-color: #282D30;
    cursor: pointer;
}



@media (max-width: 768px) {
    .MuiPaper-root{
        width: 200px;
    }
    .drawer-box {
        max-width: 100%;
    }
    .search {
        max-width: 200px;
    }
    .search-bar {
        max-width: 150px;
    }
    .listgap {
        max-width: 100%;
    }
    .nav-h1 {
        max-width: 100%;
    }
}












