@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

.drawer-box {
    background-color: #14213d;
    height : 100%;
    font-family: "DM Mono", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
    user-select: none;
}

.nav-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #0c162b;
    height: 6%;
    border-bottom: 1px solid #050b1a;
    box-shadow: 0 0 10px 10px #050b1a;
}

.searchbar {
    height: 30px;
    max-width: 200px;
    border-radius: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #030612;
    box-shadow: 0 8px 10px #030612;
    padding: 10px;
    background-color: #e5e5e5;
    color: black;
    font-size: small;
}
.searchbar::placeholder {
    color: black;

}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    max-width: 250px;
}

.search-button {
    color: white;
    background-color: inherit;
    border: none;
    width: auto;
}
.search-button:hover {
    cursor: pointer;
    scale: 1.2;
}


.list-gap {
    display: flex;
    align-items: center;
    padding: 15px 15% 15px 10%;
    gap: 10px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-gap:hover {
    color: white;
    background-color: #3b4b6e;
    cursor: pointer;
}

.menu-button:hover {
    background-color: inherit;
}

.MuiSvgIcon-root {
    color: white;
}
.MuiSvgIcon-root:hover {
    color: #AFD3E2;
    cursor: pointer;
    background-color: inherit;
}

@media (max-width: 768px) {
    .MuiPaper-root{
        width: 200px;
    }
    .drawer-box {
        max-width: 100%;
    }
    .search {
        max-width: 200px;
    }
    .searchbar {
        max-width: 150px;
    }
    .list-gap {
        max-width: 100%;
    }
    .nav-h1 {
        max-width: 100%;
    }
}












